
/* Cart Container Styles */
.main-container{
 margin: 0;
 padding: 0;
 background: #EAEDED;
 height: fit-content;
}
.list-container{
 margin: 10px;
 padding: 10px;
 background: #ffff;
 text-align: center;
}

.cart-container {
  text-align: start;
  max-width: 100%;
  min-height: 40px; 
  padding: 10px; 
  background-color: #fffffff8; 
}

/* Heading Styles */
.cart-container h2 {
  font-size: 24px;
  color: #201f1f; 
  margin-bottom: 20px;
  text-align: start;
}

/* Unordered List Styles */
.cart-container ul {
  list-style-type: none;
  padding: 0; 
}

/* Cart Item Styles */
.cart-item {
  display: flex; 
  align-items: center; 
  padding: 1px 1px; 
  justify-content: space-between;
  max-height: 150px;
}

.cart-item:last-child {
  border-bottom: none; 
}

/* Title Styles */
.cart-item h3 {
  flex-grow: 1; 
  font-size: 18px; 
  color: #161a1f;
  margin: 0;
}
.cart-item .buy-button{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #F3A847;
  color: #000000;
  font-weight: 500;
  border: none;
  padding: 6px 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-item .img-div{
  max-width: 150px;
  max-height: 50px;
  object-fit:fill;
}
/* Image Styles */
.cart-item img {
  border-radius: 2px; 
  object-fit:fill;
}

.title-price{
  width: 70%;
}
.title-price p{
  margin-bottom: 5px !important;
}
/* Price Styles */
.price {
  font-size: 16px; 
  color: #333; 
  font-weight: bold; 
  margin: 0 !important;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .cart-container {
      padding: 10px; 
  }

  .cart-item h3 {
      font-size: 16px; 
  }

  .price {
      font-size: 14px; 
  }
}



