/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* Cart Container Styles */
.main-container{
 margin: 0;
 padding: 0;
 background: #EAEDED;
 height: fit-content;
}
.list-container{
 margin: 10px;
 padding: 10px;
 background: #ffff;
 text-align: center;
}

.cart-container {
  text-align: start;
  max-width: 100%;
  min-height: 40px; 
  /* margin: 5px auto; */
  padding: 10px; 
  background-color: #fffffff8; 
}

/* Heading Styles */
.cart-container h2 {
  font-size: 24px;
  color: #201f1f; 
  margin-bottom: 20px;
  text-align: start;
}

/* Unordered List Styles */
.cart-container ul {
  list-style-type: none;
  padding: 0; 
}

/* Cart Item Styles */
.cart-item {
  display: flex; 
  gap: 5px;
  align-items: center; 
  padding: 1px 1px; 
  margin:15px 15px;
  justify-content: space-between;
  max-height: 120px;
}

.cart-item:last-child {
  border-bottom: none; 
}

/* Title Styles */
.cart-item h3 {
  flex-grow: 1; 
  font-size: 18px; 
  color: #161a1f;
  margin: 0;
}
.cart-item .buy-button{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #F3A847;
  color: #000000;
  font-weight: 500;
  border: none;
  padding: 6px 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-item .img-div{
  max-width: 150px;
  max-height: 50px;
  object-fit:fill;
}
/* Image Styles */
.cart-item img {
  border-radius: 2px; 
  object-fit:fill;
}

.title-price{
  width: 70%;
}
.title-price p{
  margin-bottom: 5px !important;
}
/* Price Styles */
.price {
  font-size: 16px; 
  color: #333; 
  font-weight: bold; 
  margin: 0 !important;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .cart-container {
      padding: 10px; /* Less padding on smaller screens */
  }

  .cart-item h3 {
      font-size: 16px; 
  }

  .price {
      font-size: 14px; /* Smaller font size for prices */
  }
}



