/* Global Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #EAEDED;
}

/* Navbar Styles */
.nav-space {
  height: 65px;
}

/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px; 
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #14212C; 
  color: #fff; 
  z-index: 1000;
}

.navbar .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .icon a {
  text-decoration: none;
  cursor: pointer;
}

.navbar .icon img {
  width: 35px;
  height: auto;
  cursor: pointer;
  margin: 5px 3px 0 10px;
}

.navbar .icon span {
  background: linear-gradient(to right, #ffffff, #dddddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 3px;
}

.navbar .product-link {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 10px;
}

.navbar .product-link .nav-single-btn a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  color: #ecf0f1d3;
  text-decoration: none;
  font-size: small;
  text-transform: uppercase;
  font-weight: 600;
  transition: color 0.3s ease;
  gap: 5px;
}

.navbar .product-link .nav-single-btn a svg {
  font-size: 15px;
}

.navbar .product-link .nav-single-btn a:hover {
  color: #ffffffdc;
}


.product-link .login {
  padding: 0.5rem 1rem;
  background-color: #F3A847;
  color: #0a1116;
  font-size: small;
  border: 2px solid #F3A847;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  margin-top: 2px;

}

.product-link .login:hover {
  background-color: #F3A847;
  border: 1px solid #F3A847;
}

/* card stying */
.product-container {
  background-color: #EAEDED;
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  /* justify-content: center; */
  padding: 20px;
}

.card {
  background-color: #fff;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 260px;
  max-height: 350px;
  text-align: center;
  position: relative;
  padding: 3px;
}

.product-link {
  color: inherit;
  text-decoration: none;
}

.product-name {
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 2px;
  color: #0F1111;
}

.product-image {
  width: 90%;
  height: 150px;
  object-fit: contain;
  display: block;
  margin: 5px auto;
  /* border-radius: 5px; */
}

.product-description {
  font-size: 0.9rem;
  color: #777;
  height: 60px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  padding: 0 10px;
  margin: 10px 0;
  position: relative;
}

.product-description::after {
  content: '...';
  position: absolute;
  right: 10px;
  bottom: 5px;
  background-color: #fff;
  padding: 0 5px;
  color: #007BFF;
}

.price-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.price-rating .price{
  font-size: 1rem;
  color: #18130d;
  font-weight: 700;
}
.price-rating .rating{
  font-size: 1rem;
  margin-bottom: 0px !important;
  font-weight: 400;
}

.btn-group {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-to-cart{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  background: #F3A847;
  border: .5px solid rgba(102, 100, 100, 0.685);
  padding: 2px;
  font-size: 20px;
}

.wish-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: rgb(245, 241, 241);
  width: 80%;
  padding: .1rem .5rem;
  border-radius: none;
  border: .5px solid rgba(102, 100, 100, 0.685);;
  margin-left: 5px;
  color: rgb(139, 135, 135);
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
  transition: background-color 0.3s;
}
.wish-list svg{
  font-size: 15px;
  color: rgba(255, 0, 0, 0.692);
}
.wish-list:hover{
  transform: translateY(-1px);
  color: rgb(110, 109, 109);
}

.buy-button:hover {
  background-color: #0f8069;
}


.admin-buttons {
  display: flex;
  gap: 5px;
}

.edit-button,
.delete-button {
  background-color: transparent;
  border: 1px solid #F3A847;
  color: #F3A847;
  border-radius: 4px;
  cursor: pointer;
  padding: 3px 8px;
  transition: background-color 0.3s, color 0.3s;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #007BFF;
  color: #fff;
}

/* Form Styles */
.form-container {
  width: 100%;
  max-width: 500px;
  height: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h3 {
  text-align: center;
  margin: 20px;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  position: relative;
}

.input-category {
  position: relative;
  width: 30%;
  margin: 0 0 10px 10px;
  padding: 10px;
}

.error-container {
  height: 20px;
  overflow: hidden;
}

.error {
  margin: 0;
  color: red;
  font-size: 12px;
}

.input-field label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

.input-field input,
.input-field textarea,
.input-field select {
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: .8rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field input:focus,
.input-field select:focus {
  border-color: #4A90E2;
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.2);
  outline: none;
}

.input-field select {
  cursor: pointer;
}

.submit-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #F3A847, #bb8c82);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #375069;
}

/* Responsive Design */
@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Main Content Padding */
.main-content {
  padding-top: 80px;
}

/* Product Detail Styles */
.product-detail {
  background-color: #ffffff60;
  padding: 20px;
  max-width: 700px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-detail h1 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333;
}
/* .image-description-group{
  display: flex;
  gap: 20px;
} */

.product-detail img {
  border-radius: 10px;
  width: 30%;
  height: 100%;
  margin-bottom: 15px;
}

.product-detail p {
  font-size: 1em;
  color: #535050;
  margin: 10px 0;
}

.product-detail .price {
  font-size: 1.2em;
  color: #22201d;
  margin: 15px 0;
}
.product-detail .rating-dt{
  font-size: 1.2em;
  color: #22201d;
}

.product-detail .buy-button {
  background-color: #F3A847;
  color: #000000;
  font-weight: bold;
  border: none;
  padding: 6px 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.product-detail .buy-button svg{
  font-size: 20px;
  color: black;
}

.product-detail .buy-button:hover {
  background-color: #334d61;
}



/* home styling  */
/* Home Component Styles */
.home-comp {
  margin: 10px;
  font-size: 2rem;
  font-weight: 700px;
  text-align: center;
  color: #ecf0f1;
  /* Text color */
}

/* Carousel Styles */
.carousel {
  min-height: 400px;
  object-fit: contain;
  
}

.carousel-item {
  max-height: 500px;
  /* Adjust the maximum height */
  overflow: hidden;
  position: fixed;
  /* Hide any overflow */
}

.carousel img {
  width: 100%;
  height: 100% !important; 
  /* Set a fixed height */
  object-fit: cover;
  /* Ensure the image covers the area */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  /* Add a semi-transparent background */
  padding: 10px;
  border-radius: 5px;
}